//#include <resource.h>
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
#define IDM_TAB_CTL_SUB_MENU 0x1000
#define IDM_CLOSE_CUR_FILE   0x1001
#define IDM_CLOSE_OTHER_FILE 0X1002
#define IDM_CLOSE_ALL_FILE   0X1003
#define IDM_OPEN_CUR_DIR     0x1011
#define IDM_OPEN_CUR_DIR_CMDLINE 0x1012
#define IDM_SET_ONLY_READ	 0x1013
#define IDM_CLR_ONLY_READ	 0x1014
#define IDM_CPY_FILE_PATH_TO_BOARD 0x1015
#define IDM_CPY_FILE_NAME_TO_BOARD 0x1016
#define IDM_CPY_CUR_PATH_TO_BOARD  0X1017
#define IDM_SVN_UPDATE_CUR_FILE 0x1018
#define IDM_SVN_UPDATE_CUR_PATH 0x1019

IDM_TAB_CTL_SUB_MENU MENU DISCARDABLE
BEGIN
	//使用大写
    POPUP "标签(&T)"
    BEGIN
		MENUITEM "关闭当前文件",  IDM_CLOSE_CUR_FILE
		MENUITEM "关闭非当前文件", IDM_CLOSE_OTHER_FILE
		MENUITEM "关闭全部文件", IDM_CLOSE_ALL_FILE
		MENUITEM SEPARATOR
        MENUITEM "打开当前文件夹", IDM_OPEN_CUR_DIR
        MENUITEM "打开当前文件夹(命令行)", IDM_OPEN_CUR_DIR_CMDLINE
		MENUITEM SEPARATOR
		MENUITEM "设置为只读", IDM_SET_ONLY_READ
		MENUITEM "清除只读属性", IDM_CLR_ONLY_READ
		MENUITEM SEPARATOR
		MENUITEM "复制文件路径到剪贴板", IDM_CPY_FILE_PATH_TO_BOARD
		MENUITEM "复制文件名到剪贴板", IDM_CPY_FILE_NAME_TO_BOARD
		MENUITEM "复制当前路径到剪贴板", IDM_CPY_CUR_PATH_TO_BOARD
		MENUITEM SEPARATOR
		MENUITEM "SVN UPDATE 当前文件", IDM_SVN_UPDATE_CUR_FILE
		MENUITEM "SVN UPDATE 当前路径", IDM_SVN_UPDATE_CUR_PATH
    END
END
